a {
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
}

.nav {
  display: flex;
  align-items: center;
  gap: 25px;
  list-style: none;
}

.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}